.icontray {
	width: 100%;
	height: 100%;

	position: fixed;

	top: 100vh;
	left: 0;

	transition: top 100ms;
	will-change: top;

	background: white;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
}

.icontray.showing {
	top: 0;
}

.icontray > img {
	display: inline-block;

	padding: 10px;

	cursor: pointer;
}

.icontray > img.selected {
	background-color: #def;
}